# Ignore Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Ignore distribution and packaging files
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ignore PyInstaller files
*.manifest
*.spec

# Ignore installer logs
pip-log.txt
pip-delete-this-directory.txt

# Ignore unit test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Ignore translations
*.mo
*.pot

# Ignore Django specific files
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Ignore Flask specific files
instance/
.webassets-cache

# Ignore Scrapy specific files
.scrapy

# Ignore Sphinx documentation build directory
docs/_build/

# Ignore PyBuilder files
.pybuilder/
target/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore IPython profile
profile_default/
ipython_config.py

# Ignore virtual environment directories
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore Spyder project settings
.spyderproject
.spyproject

# Ignore Rope project settings
.ropeproject

# Ignore mkdocs documentation build directory
/site

# Ignore mypy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Ignore Pyre type checker
.pyre/

# Ignore pytype static type analyzer
.pytype/

# Ignore Cython debug symbols
cython_debug/

# Ignore PyCharm project files
.idea/

# Ignore package managers and environment files
# Pipenv
#Pipfile.lock
# Poetry
#poetry.lock
# PDM
.pdm.toml
# PEP 582
__pypackages__/

# Ignore Celery files
celerybeat-schedule
celerybeat.pid

# Ignore SageMath parsed files
*.sage.py
