<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <!-- ! Hide app brand if navbar-full -->
  {% if not navbar_full %}
  <div class="app-brand demo">
    <a href="{% url 'index' %}" class="app-brand-link">
      <span class="app-brand-logo demo">
        {% include 'partials/logo.html' with width=25 withbg="#696cff" %}
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">{% get_theme_variables 'template_name' %}</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>
  {% endif %}


  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">

    <li class="menu-item {% if 'index' == request.resolver_match.url_name or '/dashbord/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div class="text-truncate" data-i18n="Dashboards">Dashboards</div>

      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if 'index' == request.resolver_match.url_name %}active{% endif %}">
          <a href="{% url 'index' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Analytics">Analytics</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- Offer -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Offer</span>
    </li>
    <li class="menu-item {% if '/Offers/' in request.path  %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link">
        <i class="menu-icon tf-icons bx bx-detail"></i>
        <div class="text-truncate" data-i18n="Offers">Offers</div>
      </a>

    <!-- Data -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Data</span>
    </li>
    <!-- Components -->
    <li class="menu-item {% if '/forms/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0)" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-detail"></i>
        <div class="text-truncate" data-i18n="Components">Components</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/basic_inputs/' in request.path %}active{% endif %}">
          <a href="{% url 'forms-basic-inputs' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Screen">Screen</div>
          </a>
        </li>
        <li class="menu-item {% if '/input_groups/' in request.path %}active{% endif %}">
          <a href="{% url 'forms-input-groups' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Belt Conveyor">Belt Conveyor</div>
          </a>
        </li>
        <li class="menu-item {% if '/input_groups/' in request.path %}active{% endif %}">
          <a href="{% url 'forms-input-groups' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Gritremoval">Gritremoval</div>
          </a>
        </li>
        <li class="menu-item {% if '/input_groups/' in request.path %}active{% endif %}">
          <a href="{% url 'forms-input-groups' %}" class="menu-link">
            <div class="text-truncate" data-i18n="PST">PST</div>
          </a>
        </li>
        <li class="menu-item {% if '/input_groups/' in request.path %}active{% endif %}">
          <a href="{% url 'forms-input-groups' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Thickener">Thickener</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- Working -->
    <li class="menu-item {% if '/forms/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0)" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-detail"></i>
        <div class="text-truncate" data-i18n="Working">Working</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/basic_inputs/' in request.path %}active{% endif %}">
          <a href="{% url 'forms-basic-inputs' %}" class="menu-link">
            <div class="text-truncate" data-i18n="SteelTanks (Rect)">SteelTanks (Rect)</div>
          </a>
        </li>
        <li class="menu-item {% if '/basic_inputs/' in request.path %}active{% endif %}">
          <a href="{% url 'forms-basic-inputs' %}" class="menu-link">
            <div class="text-truncate" data-i18n="SteelTanks (Circ)">SteelTanks (Circ)</div>
          </a>
        </li>
        <li class="menu-item {% if '/input_groups/' in request.path %}active{% endif %}">
          <a href="{% url 'forms-input-groups' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Mixers (Rect)">Mixers (Rect)</div>
          </a>
        </li>
        <li class="menu-item {% if '/input_groups/' in request.path %}active{% endif %}">
          <a href="{% url 'forms-input-groups' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Mixers (Circ)">Mixers (Circ)</div>
          </a>
        </li>
        <li class="menu-item {% if '/input_groups/' in request.path %}active{% endif %}">
          <a href="{% url 'forms-input-groups' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Disk Filter">Disk Filter</div>
          </a>
        </li>
        <li class="menu-item {% if '/input_groups/' in request.path %}active{% endif %}">
          <a href="{% url 'forms-input-groups' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Decanter">Decanter</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Others -->
    <li class="menu-item {% if '/forms/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0)" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-detail"></i>
        <div class="text-truncate" data-i18n="Others">Others</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/basic_inputs/' in request.path %}active{% endif %}">
          <a href="{% url 'forms-basic-inputs' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Penstocks">Penstocks</div>
          </a>
        </li>
        <li class="menu-item {% if '/basic_inputs/' in request.path %}active{% endif %}">
          <a href="{% url 'forms-basic-inputs' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Valves">Valves</div>
          </a>
        </li>
        <li class="menu-item {% if '/input_groups/' in request.path %}active{% endif %}">
          <a href="{% url 'forms-input-groups' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Containers">Containers</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Checkout -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Checkout</span>
    </li>

    </li>
    <!-- Front Pages -->
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons bx bx-store'></i>
        <div class="text-truncate" data-i18n="Front Pages">Front Pages</div>
        <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="{% get_theme_variables 'live_preview' %}front/landing/" class="menu-link" target="_blank">
            <div class="text-truncate" data-i18n="Landing">Landing</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% get_theme_variables 'live_preview' %}front/pricing/" class="menu-link" target="_blank">
            <div class="text-truncate" data-i18n="Pricing">Pricing</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% get_theme_variables 'live_preview' %}front/payment/" class="menu-link" target="_blank">
            <div class="text-truncate" data-i18n="Payment">Payment</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% get_theme_variables 'live_preview' %}front/checkout/" class="menu-link" target="_blank">
            <div class="text-truncate" data-i18n="Checkout">Checkout</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% get_theme_variables 'live_preview' %}front/help_center/" class="menu-link" target="_blank">
            <div class="text-truncate" data-i18n="Help Center">Help Center</div>
          </a>
        </li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="{% get_theme_variables 'live_preview' %}transactions/list/" class="menu-link" target="_blank">
        <i class="menu-icon tf-icons bx bx-data"></i>
        <div class="text-truncate" data-i18n="Transactions (CRUD)">Transactions (CRUD)</div>
        <span class="badge bg-label-primary fs-tiny rounded-pill ms-auto">PRO</span>
      </a>
    </li>

    <!-- Account -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Account</span>
    </li>
    <li class="menu-item {% if '/account_settings/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-dock-top"></i>
        <div class="text-truncate" data-i18n="Account Settings">Account Settings</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/account/' in request.path %}active{% endif %}">
          <a href="{% url 'pages-account-settings-account' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Account">Account</div>
          </a>
        </li>
        <li class="menu-item {% if '/notifications/' in request.path %}active{% endif %}">
          <a href="{% url 'pages-account-settings-notifications' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Notifications">Notifications</div>
          </a>
        </li>
        <li class="menu-item {% if '/connections/' in request.path %}active{% endif %}">
          <a href="{% url 'pages-account-settings-connections' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Connections">Connections</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- Auth -->
    <li class="menu-item {% if '/auth/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
        <div class="text-truncate" data-i18n="Authentications">Authentications</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/login/' in request.path %}active{% endif %}">
          <a href="{% url 'auth-login-basic' %}" class="menu-link" target="_blank">
            <div class="text-truncate" data-i18n="Login">Login</div>
          </a>
        </li>
        <li class="menu-item {% if '/register/' in request.path %}active{% endif %}">
          <a href="{% url 'auth-register-basic' %}" class="menu-link" target="_blank">
            <div class="text-truncate" data-i18n="Register">Register</div>
          </a>
        </li>
        <li class="menu-item {% if '/forgot_password/' in request.path %}active{% endif %}">
          <a href="{% url 'auth-forgot-password-basic' %}" class="menu-link" target="_blank">
            <div class="text-truncate" data-i18n="Frogot Password">Frogot Password</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- Misc -->
    <li class="menu-item {% if '/misc/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-cube-alt"></i>
        <div class="text-truncate" data-i18n="Misc">Misc</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/error/' in request.path %}active{% endif %}">
          <a href="{% url 'pages-misc-error' %}" class="menu-link" target="_blank">
            <div class="text-truncate" data-i18n="Error">Error</div>
          </a>
        </li>
        <li class="menu-item {% if '/under_maintenance/' in request.path %}active{% endif %}">
          <a href="{% url 'pages-misc-under-maintenance' %}" class="menu-link" target="_blank">
            <div class="text-truncate" data-i18n="Under Maintenance">Under Maintenance</div>
          </a>
        </li>
      </ul>
    </li>


    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Forms & Tables</span>
    </li>

    <!-- Form -->
    <li class="menu-item {% if '/forms/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0)" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-detail"></i>
        <div class="text-truncate" data-i18n="Form Elements">Form Elements</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/basic_inputs/' in request.path %}active{% endif %}">
          <a href="{% url 'forms-basic-inputs' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Basic Inputs">Basic Inputs</div>
          </a>
        </li>
        <li class="menu-item {% if '/input_groups/' in request.path %}active{% endif %}">
          <a href="{% url 'forms-input-groups' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Input groups">Input groups</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Form Layouts -->
    <li class="menu-item {% if '/form/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0)" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-detail"></i>
        <div class="text-truncate" data-i18n="Form Elements">Form Layouts</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/layouts_vertical/' in request.path %}active{% endif %}">
          <a href="{% url 'form-layouts-vertical' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Vertical Form">Vertical Form</div>
          </a>
        </li>
        <li class="menu-item {% if '/layouts_horizontal/' in request.path %}active{% endif %}">
          <a href="{% url 'form-layouts-horizontal' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Horizontal Form">Horizontal Form</div>
          </a>
        </li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="{% get_theme_variables 'live_preview' %}form/validation/" class="menu-link" target="_blank">
        <i class="menu-icon tf-icons bx bx-list-check"></i>
        <div class="text-truncate" data-i18n="Form Validation">Form Validation</div>
        <span class="badge bg-label-primary fs-tiny rounded-pill ms-auto">PRO</span>
      </a>
    </li>

    <li class="menu-item {% if '/tables/basic/' in request.path %}active{% endif %}">
      <a href="{% url 'tables-basic' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div class="text-truncate" data-i18n="Tables">Tables</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="{% get_theme_variables 'live_preview' %}tables/datatables_basic/" class="menu-link" target="_blank">
        <i class="menu-icon tf-icons bx bx-grid"></i>
        <div class="text-truncate" data-i18n="Datatables">Datatables</div>
        <span class="badge bg-label-primary fs-tiny rounded-pill ms-auto">PRO</span>
      </a>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Misc</span>
    </li>

    <li class="menu-item">
      <a href="https://themeselection.com/support/" class="menu-link" target="_blank">
        <i class="menu-icon tf-icons bx bx-support"></i>
        <div class="text-truncate" data-i18n="Support">Support</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/documentation/django-introduction.html" class="menu-link" target="_blank">
        <i class="menu-icon tf-icons bx bx-file"></i>
        <div class="text-truncate" data-i18n="Documentation">Documentation</div>
      </a>
    </li>

  </ul>


</aside>
